PORT                        # number: port on which the http server listens
NODE_ENV                    # "development" | "production": server mode
DATABASE_URL                # string: A url for mongodb database
ACCESS_TOKEN_SECRET         # string: strong, preferably long, string, that serves as Jwt token secret.
