API_PORT                    # number: port on which the http server listens
API_HOSTNAME                # string: a name of the server (localhost by default)
NODE_ENV                    # "development" | "production": server mode

SMTP_USER                   # string: server email
SMTP_PASSWORD               # string: server email password
SMTP_SERVICE				# string: STMP provider (gmail, outlook, smtp.seznam.cz...)
SMTP_PORT					# number: STMP port of the service (usually 465)

ACCESS_TOKEN_SECRET         # string: strong, preferably long, string, that serves as Jwt token secret.
REFRESH_TOKEN_SECRET        # string: strong, preferably long, string, that server as Jwt token secret.
EMAIL_TOKEN_SECRET          # string: JWT token secret

# mongodb+srv://<user>:<password>@cluster0.rdh1u10.mongodb.net/momentify
DATABASE_URL                # string: A url for mongodb database
