API_PORT=8080
API_HOSTNAME="localhost"
NODE_ENV="development" # "production"

SMTP_USER="random@email.com"
SMTP_PASSWORD="password123"
SMTP_SERVICE="smtp.seznam.cz"
SMTP_PORT=465

ACCESS_TOKEN_SECRET="secret"
REFRESH_TOKEN_SECRET="secret secret"
EMAIL_TOKEN_SECRET="secret secret1234"

DATABASE_URL="mongodb+srv://<user>:<password>@cluster0.rdh1u10.mongodb.net/momentify"